@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

main {
    padding: 20px;
    border-radius: 5px;
    background-color: #4f4f4f;
    width: 390px;
    margin: 0 auto;
}

#button-container {
    display: flex;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 390px;
}

button {
    background-color: transparent;
    align-items: center;
    width: 150px;
    height: 150px;
    border: none;
    cursor: pointer;
    margin: 20px;
    }

button img {
    width: 150px;
    height: 150px;
}

.clicked {
    animation: pulse 1s infinite;
}

.escolhaPC {
    animation: pulse 1s infinite;
}

button:hover {
    transform: scale(1.1);
}

button:disabled {
    opacity: 0.5;
    cursor: wait;
}

#titulo {
    color: white;
    font-size: 1.8rem;
    text-align: center;
}

#vencedor {
    height: 300px;
    color: black;
    text-align: center;
    font-size: 2.0rem;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha verticalmente */
    padding: 1px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }
    
    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.95);
    }
}