@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    display: flex;
    flex-direction:column;
    justify-content: top;
    align-items: center;
    height: 100vh;
    margin-top: 30px;
    background-color:darkolivegreen;
    color: white;
    font-family: "Roboto", sans-serif;
}

#counter {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;    
}

#counter.running {
    animation: pulse 1s infinite;
}

.button {
    font-size: medium;
    font-weight: bold;
    color: antiquewhite;
    background-color: rgb(8, 33, 0);
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px 30px 0 30px;
    width: 100px;
    height: 30px;
}

.button:hover {
    background-color: #27fb98;
}

#historyTitle {
    font-size: 15pt;
    font-weight: bold;
    margin: 20px 20px 5px 20px;
}

 @keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
 }